<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Alex Kukushkin">
    <meta name="description" content="Task scheduler based on the Eisenhower matrix">
    <meta name="keywords" content="The task scheduler">
    <title>
      %|||% block title %|||%
    </title>
    <style>
      %|||% block css %|||%
    </style>
  </head>

  <body>
    <div id="content">

      <div class="panel" id="header">
        <noscript>
          Включите javascript
        </noscript>
        %|||% form header %|||%
      </div>

      <div class="panel" id="main_panel">
        %|||% block main %|||%
      </div>

      <div class="panel" id="right_panel">
        %|||% block right %|||%
      </div>

      <div class="panel" id="footer">
         %|||% block footer %|||%
      </div>

    </div>

    <!-- Блокирующая панель мини формы -->
    <div class="panel_mini_form" id="panel_mini_form">
      %|||% form mini_form %|||%
    </div>
    <script>
      %|||% block script %|||%
    </script>


  </body>
</html>
