<!-- блок c заголовком реестра и кнопкой закрытия реестра -->
<div id="block_header_right_panel">
  <h2 id="header_right_panel">Реестр отметок времени:</h2>
  <div class="buttons_block_form" id="block_button_create_task">
    <div class="button_container" title="Закрыть реестр отметок времени">
      <button type="button" class="button_task" onclick="closeListTimeStamps()">
        <img src="{%||%}" width="40px" height="40px">
      </button>
    </div>
  </div>
</div>

<div id="filters_right_panel">
  <div class="field_task" id="field_text_filter">
    <input class="input_form" type="text" value="{%||%}" id="filter_time_spent" disabled
    title="{%||%}">
  </div>
</div>