<div class="quad urgent-important">
  <h2>Срочные важные задачи (A)</h2>
  <div class="block_task" id="urgent-important">
    %|||% list list_plan_works1 %|||%
  </div>
</div>


<div class="quad non-urgent-important">
  <h2>Несрочные важные задачи (B)</h2>
  <div class="block_task" id="non-urgent-important">
    %|||% list list_plan_works2 %|||%
  </div>
</div>

<div class="quad urgent-unimportant">
  <h2>Срочные неважные задачи (C)</h2>
  <div class="block_task" id="urgent-unimportant">
    %|||% list list_plan_works3 %|||%
  </div>
</div>

<div class="quad non-urgent-unimportant">
  <h2>Несрочные неважные задачи (D)</h2>
  <div class="block_task" id="non-urgent-unimportant">
    %|||% list list_plan_works4 %|||%
  </div>
</div>
